table{
     width:100%;
     border-collapse: collapse;
}

tr:nth-child(odd){
	background-color:   #E0F7FA;
}

tr:nth-child(even){
	background-color: white;
}

.td-table1 {
     padding: 14px;
     padding-left: 25px;
     padding-right: 25px;
     text-align: center;
       
}

.td-table2{
     text-align: center;
     line-height: 3;
   }

.th-table2{
     text-align: center;
     line-height: 3;
}
